body {
	font-size: 62.5%;
}

main
{
	font-size: 1.8rem;
}

#welcome 
{
	background-color: #fd4556;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 1.6rem;
}

.navbar-brand {
	font-size: 2.4rem;
	margin-right: 3%;
}

h1
{
	font-size: 3.5rem;
}

header 
{
	top: 0;
	font-size: 1.6rem;
	position: sticky;
	width: 100%;
}

.navbar {
	height: 100%;
	padding: 2vw;
}

#section1 {
	height: 100vh;
	background-color: #53212b;
	color: #fff;
	text-align: right;
	padding: 5vw;
	padding-top: 15vh;
}

.right-text {
	margin-left: auto;
	margin-right: 0;
	max-width: 60vw;
	font-size: 1.8rem;
}

#section2 {
	height: 100vh;
	background-color: #20254B;
	padding: 5vw;
	color: white;
	padding-top: 15vh;
}

.left-text {
	max-width: 60vw;
	font-size: 1.8rem;
}

#section3 {
	height: 100vh;
	background-color: #bd3944;
	text-align: right;
	padding: 5vw;
	padding-top: 15vh;
}

.card
{
	position: static;
}

.card-wrapper
{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}

.repeating-card-wrapper
{
	display: flex;
	justify-content: center;
}

.tournament-card
{
	padding: 1vw;
	border: 1px solid #333;
	display: flex;
	margin: 1vw;
	width: 25vw;
	min-width: 320px;
	min-height: 300px;
	max-width: 20vw;
	text-align: center;
}

.profile-picture {
	width: 20%;
	height: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login-card
{
	text-align: center;
	align-content: center;
	font-size: 1.6rem;
}

footer {
	text-align: center;
	color: #fff;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 3vmin;
}
